# set the udev rule , make the AHRS's device_port be fixed by AHRS
#
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="0001", MODE:="0777", SYMLINK+="AHRS"

# set the udev rule , make the LIDAR's device_port be fixed by YDLIDAR
#
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="0002", MODE:="0777", SYMLINK+="YDLIDAR"

# set the udev rule , make the MotorDriver's device_port be fixed by MW
#
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", MODE:="0777", SYMLINK+="MW"

# set the udev rule , make the C920 Camera's device_port be fixed by C920
#
KERNEL=="video*", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="082d", MODE:="0777", SYMLINK+="C920"

# set the udev rule , make the WLKATA's device_port be fixed by WLKATA
#
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", MODE:="0777", SYMLINK+="WLKATA"

